@media all and (max-width: 1025px) and (min-width: 700px) and (orientation: portrait) {
  .main_container {
    grid-template-rows: 0.5fr 1fr 1fr 1fr 0.5fr 1fr 1fr;
  }
  .index_wind_3 {
    background-position: center;
  }
  p {
    font-size: 2vw;
    line-height: 2.7vw;
  }
  h2 {
    font-size: 2.3vw;
    line-height: 2.7vw;
  }
  /* Меню верхнее нужно по шрифтам подогнать */
  .navigation_container {
    grid-template-areas:
      "NB NB NB NB NB NB NB NB"
      "N1 N1 N1 N2 N2 N2 N2 N2"
      "N1 N1 N1 N2 N2 N2 N2 N2"
      "N1 N1 N1 N3 N3 N3 N3 N3"
      "N1 N1 N1 N4 N4 N5 N5 N5"
      "N1 N1 N1 N4 N4 N5 N5 N5"
      "N1 N1 N1 N4 N4 N5 N5 N5"
      "N1 N1 N1 N4 N4 N5 N5 N5";
  }
  .navig_wind_2_content_1 {
    height: 60%;
  }
  .navig_wind_2_content_2 {
    justify-content: space-around;
  }
  .navig_wind_4 {
    padding: 3vw 1vw;
  }
  .navig_wind_4 > button {
    margin-top: 80%;
  }
}
