@media all and (max-width: 700px) and (min-width: 320px) and (orientation: portrait) {
  .page_number_mob_activenot {
    display: block;
  }
  .index_icon_mob {
    background-color: #00e600;
    padding: 0vw 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    grid-area: M1;
  }
  .unactive_index_icon_mob {
    background-color: #003501;
    border: 0.5vw solid #00e600;
    padding: 0vw 8vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    grid-area: M1;
  }
  #sendApplication {
    width: 100% !important;
  }
  .index_container {
    grid-template-areas:
      "M1 M2 M2"
      "I1 I1 I1 "
      "I2 I3 I3"
      "I2 I3 I3"
      "I4 I4 I4"
      "I4 I4 I4"
      "I5 I5 I5"
      "I5 I5 I5";
  }
  .main_container {
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
  .page_number_mob_activenot {
    border: 0.5vw solid #00e600;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    grid-area: M2;
  }
  .mob_navbar {
    display: flex;
    flex-direction: row;
  }
  h1 {
    font-size: 7vw;
    line-height: 7.2vw;
  }
  p {
    font-size: 4vw;
    line-height: 4.2vw;
  }
  .aboutus_container {
    grid-template-areas:
      "M1 M2 M2"
      "A4 A4 A4 "
      "A5 A6 A6"
      "A5 A6 A6"
      "A7 A7 A7"
      "A7 A7 A7"
      "A3 A3 A3"
      "A3 A3 A3";
  }
  .aboutus_wind_1 {
    display: none;
  }
  .aboutus_wind_2 {
    display: none;
  }
  .aboutus_wind_5_content_1 {
    display: none;
  }
  .aboutus_wind_5_content_2 {
    width: 90%;
  }
  .aboutus_wind_6_content_2_1 p {
    line-height: 5vw;
  }
  h3 {
    font-size: 3vw;
    line-height: 3.2vw;
  }
  .aboutus_wind_6_content_1 {
    width: 90%;
  }
  .aboutus_wind_5_content_2 h3 {
    margin-left: 1vw;
  }
  .open_link_icon {
    width: 12vw;
    height: 12vw;
  }
  .index_container .pop_up {
    display: none;
  }
  .pop_up {
    display: none;
  }

  .wind {
    padding: 3vw;
    outline: 0.5vw solid #00e600;
    outline-offset: -0.5vw;
    opacity: 1;
  }
  .aboutus_wind_3_content_1_1 {
    height: 70%;
  }
  .aboutus_wind_7_content {
    margin-top: 5%;
  }
  .navigation_container {
    grid-template-areas:
      "M1 M2 M2"
      "N1 N1 N1 "
      "N1 N1 N1 "
      "N1 N1 N1 "
      "N4 N4 N4"
      "N2 N5 N5"
      "N2 N5 N5"
      "N2 N5 N5";
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
  .navig_wind_3 {
    display: none;
  }
  .navig_wind_4_content_1 {
    margin-bottom: 2%;
  }
  .navig_wind_4_content_2 {
    margin-bottom: 3%;
  }
  #button_poster_pop_up {
    float: right;
  }
  .services_container {
    grid-template-areas:
      "M1 M2 M2"
      "S1 S1 S1 "
      "S1 S1 S1 "
      "S2 S2 S2 "
      "S2 S2 S2 "
      "S3 S3 S3 "
      "S3 S3 S3 "
      "S3 S3 S3 ";
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
  .services_wind_3_content_1 input {
    font-size: 7vw;
    line-height: 7.2vw;
  }
  .services_wind_3_content_1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 4%;
  }
  .services_wind_3_content_2 {
    flex-direction: column;
    align-items: flex-start;
  }
  .services_wind_3_content_2 div {
    width: 80%;
    margin-bottom: 6%;
  }
  .services_wind_3_content_2 input {
    font-size: 4vw;
    line-height: 4.2vw;
  }
}
